.main {
    display: inline-block;
}

.menu, .orderForm {
    float: left;
    margin: 5px;
    border: solid;
}

.basket, .orderSummary {
    float: right;
    margin: 5px;
    border: solid;
}

h1 {
    text-align: center;
}

table#menu {
    border-collapse: collapse; 
    border: 1px;
    margin: 10px;
}

table#summary {
    border: 1px solid black;
}

table#basket {
    margin-left: 10px;
}

td.menu { 
    border-bottom: 1px;
}

input.menuInput {
    width: 40px;
    border-radius: 5px;
}

form {
    margin-left: 15px;
}

.orderForm {
    margin-left: 15px;
}

.order {
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

p {
    margin-left: 5px;
}

.orderBtn {
    float: right;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.totalPrice {
    float left;
}

.delete {
    background-color: red;
/*    color: red;*/
}

button {
    border-radius: 15px;
}

.addBtn {
    font-weight: bold;
    background-color: green;
    font-size: 18pt;
}

td#pizzaId {
    width: auto;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14pt;
}


table#menu tr:nth-child(even) {
    background-color: #3DA32F;

}

td#addBtn {
    border: none;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}