.main {
    display: inline-block;
}

.menu {
     float: left;
    margin: 5px;
    border: solid;
}

.basket {
    float: right;
    margin: 5px;
    border: solid;
}

h1 {
    text-align: center;
}

table#menu {
    border-collapse: collapse; 
    border: 1px;
}

table#summary {
    border: 1px solid black;
}

td.menu { 
    border-bottom: 1px;
}

input.menu {
    width: 40px;
}