<html ng-app="pizzaApp">
  <head>
    <meta charset="utf-8">
    <title>Pizzeria</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body ng-controller="mainController">
      
      <div class="main">
          <div class="menu" data-ng-init="getMenu()">

            <h1>Menu:</h1>  
            <table border="1">
                <tr>
                    <th>Numer</th>
                    <th>Nazwa</th>
                    <th>Składniki</th>
                    <th>Cena</th>
                    <th>Ilość</th>
                    <th></th>
                </tr>

                <tr ng-repeat="pizza in menuRes">
                    <td>  {{ pizza.id }} </td>
                    <td> {{ pizza.name}} </td>
                    <td>
                        <option ng-repeat="ingredient in pizza.ingredients" value="{{ingredient}}">{{ingredient}}</option>
                    </td>
                    <td> {{ pizza.price}} </td>
                      <td><input id="{{pizza}}" value="0" name="quantity" ng-model="pizza.quantity"></td>
                    <td>
                        <button ng-click="$parent.addPizzaToBasket(pizza)">DODAJ</button>
                    </td>
                </tr>
            </table>

          </div>

          <div class="basket">
            <h1>Koszyk</h1>
              
              <table>
                <tr>
                    <th>Nazwa</th>
                    <th>Ilość</th>
                    <th>Cena</th>
                    <th></th>
                </tr>
                <tr ng-repeat="order in orders">
                    <td>{{order.name}}</td>   
                    <td>{{order.quantity}}</td>   
                    <td>{{order.price}}</td>   
                    <td>
                        <button>Usuń</button>
                    </td>
                </tr>
                <tr>
                    <td>Razem:</td>
                    <td></td>
                </tr>  
                <tr>
                    <td><button>Kontynuuj</button></td>  
                </tr>  
              </table>
              
          </div>
      </div>          
 
  </body>
</html>