<html ng-app="pizzaApp">
  <head>
    <meta charset="utf-8">
    <title>Zamówienia</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
    
  <body ng-controller="orderController">
    
    
      
    <div data-ng-init="getOrder()">
            {{orderRes.name}}
    </div>

    <div class="orderForm">  
        <p>Zamówienie nr</p>
        <form name="form1" action="status/:orderId">
            <p>
                <label>
                    Numer telefonu: 
                </label>
                <input class="order" type="text" name="phonenumber" require ng-pattern="/^\(?([0-9]{3})\)?[- ]?([0-9]{3})[- ]?([0-9]{3})$/">
            </p>

            <p>
                <label>
                    Ulica:
                </label>
                <input class="order" type="text" name="street">
            </p>

            <p>
                <label>
                    Uwagi: 
                </label>
                <input class="order" type="text" name="remarks">
            </p>
            <div class="orderBtn">
                <input type="button" value="Powrót" ng-click="doTheBack()">
                <input type="submit" value="Złóż zamówienie" ng-click="checkPhoneNumber(form1.phonenumber)">
            </div>
        </form>
    
        

    </div>
      
    <div class="orderSummary">

        <table id="summary">
                    <tr>
                        <th>Nazwa</th>
                        <th>Ilość</th>
                        <th>Cena</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="order in orders">
                        <td>{{order.name}}</td>   
                        <td>{{order.quantity}}</td>   
                        <td>{{order.price.toFixed(2)}}</td>   
                    </tr>
                    <tr>
                        <td>Razem: {{totalPrice()}}</td>
                        <td></td>
                    </tr>  
                    <tr>

    </div>
      
</body>
</html>