<html ng-app="pizzaApp">
  <head>
    <meta charset="utf-8">
    <title>Stan zamówienia</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body ng-controller="statusController">
      
    <div data-ng-init="getOrderStatus()">
      <h1>Stan zamówienia nr {{orderId}}
         
          <table>
                <tr>
                    <th>Zamówiono</th>
                    <th>Przewidywany czas dostarczenia</th>
                </tr>

                <tr>
                    <td>  {{ status.ordered | date:'dd-MM-yyyy HH:m'}} </td>
                    <td> {{ status.estimated | date:'dd-MM-yyyy HH:m'}} </td>
                </tr>
            </table>
          
          <h1>Zamówienie:</h1>  
            <table>
                <tr>
                    <th>Nr</th>
                    <th>Nazwa</th>
                    <th>Składniki</th>
                    <th>Cena</th>
                    <th>Ilość</th>
                </tr>

                <tr ng-repeat="pizza in status.order">
                    <td class="menu" id="pizzaId">  {{ pizza.pizza.id }} </td>
                    <td class="menu"> {{ pizza.pizza.name}} </td>
                    <td class="menu">
                        <option ng-repeat="ingredient in pizza.pizza.ingredients" value="{{ingredient}}">{{ingredient}}</option>
                    </td>
                    <td class="menu"> {{ pizza.pizza.price.toFixed(2)}} </td>
                    <td class="menu"> {{ pizza.quantity}} </td>
                </tr>
            </table>

    </div>  
      
    
        
        

 </h1>
  </body>
</html>