<html class="active" ng-app="pizzaApp">
<body ng-controller="orderController">
    <h1>Realizacja zamówienia</h1>
        <div class="orderSummary">
            <table id="summary">
                    <tr>
                        <th>Nazwa</th>
                        <th>Ilość</th>
                        <th>Cena</th>
                    </tr>
                    <tr ng-repeat="order in orders">
                        <td>{{order.name}}</td>   
                        <td>{{order.quantity}}</td>   
                        <td>{{order.price.toFixed(2)}}</td>   
                    </tr>
                    <tr>
                        <td><b>Razem do zapłaty: {{totalPrice()}} zł</b></td>
                        <td></td>
                    </tr>  
                    <tr></tr>
            </table>
        </div>
    <div class="orderForm">  
        <p>Wypełnij dane potrzebne do zamówienia</p>
        <form name="myForm">
            <div ng-class="{error: isInvalid('phoneNumber')}">
                <label>
                    Numer telefonu: 
                </label>
                <input id="phone" type="text" name="phoneNumber" placeholder="Podaj nr telefonu" ng-model="phoneNumber"  ng-pattern="/^\d{9}|^\d{3}-\d{3}-\d{3}|^\d{3}\s\d{3}\s\d{3}/" required/>
                <span id="message1" ng-show="isInvalid('phoneNumber')">Numer telefonu jest wymagany</span>
                <span ng-show="myForm.price_field.$error.pattern"></span>
            </div>
            <div ng-class="{error: isInvalid('street')}">
                <label>
                    Ulica:
                </label>
                <input id="street" type="text" placeholder="Podaj adres" name="street" ng-model="street" required>
                <span id="message2" ng-show="isInvalid('street')">Adres jest wymagany</span>
            </div>
            <div>
                <label>
                    Uwagi: 
                </label>
                <input id="remarks" placeholder="Dodatkowe informacje" type="text" name="remarks">
            <div class="orderBtn">
                <input type="button" value="Powrót" ng-click="doTheBack()">
                <button ng-disabled="myForm.$invalid" ng-click="sendItNow()">Zatwierdź</button>
             </div> 
            </div>
        </form>
    </div>
    <div>{{ orderId }}</div>
</body>
</html>