<div class="pizzaPersonalization"> 
    <p>Personalizacja pizzy</p>
    
    <table>
        <th>Nazwa</th> 
        <th>Cena</th> 
        <th></th> 
        <tr ng-repeat="ingredient in ingredients">
            <td> 
               {{ingredient.name}} 
            </td>
            <td> 
               {{ingredient.price.toFixed(2)}} 
            </td>
            <td>
                <button ng-click="addIngredient(ingredient)">Dodaj</button>
            </td>
        </tr>
    </table>

</div>

<div class="orderPersonalization">
    <p>Zamówienie</p>
    
    <table> 
    <tr> 
        <th>Nazwa</th> 
        <th>Składniki</th> 
        <th>Dodatki</th> 
        <th>Ilość</th> 
        <th>Cena</th> 
    </tr> 
<!--    <tr ng-repeat="order in orders"> -->
    <tr> 
        <td>{{currentOrder.name}}</td>    
        <td>{{currentOrder.ingredients.toString()}}</td>
        <td><a ng-repeat="extra in currentOrder.extraIngredients track by $index">{{extra.name}} </a></td>
        <td>{{currentOrder.quantity}}</td>
        <td>{{currentOrder.price.toFixed(2)}}</td>
    </tr> 
    <tr> 
        <td><b>Razem do zapłaty: {{totalPrice()}} zł</b></td> 
        <td></td> 
    </tr>
    <tr></tr> 
    
    </table> 
    
    <table >
        <th>Składnik</th>
        <th>Cena</th>
        <th></th>
        <tr ng-repeat="extra in extraIngredients">
            <td>{{extra.name}}</td> 
            <td>{{extra.price.toFixed(2)}}</td>
            <td>
                <button ng-click="deleteExtraIngredient(extra)">Usuń</button>
            </td>
        </tr>
    </table>
</div>