<div class="pizzaPersonalization"> 
    <p>Personalizacja pizzy</p>
    
    <table>
        <th>Nazwa</th> 
        <th>Cena</th> 
        <th></th> 
        <tr ng-repeat="ingredient in ingredients">
            <td> 
               {{ingredient.name}} 
            </td>
            <td> 
               {{ingredient.price.toFixed(2)}} 
            </td>
            <td>
                <button ng-click="addIngredient(ingredient)">Dodaj</button>
            </td>
        </tr>
    </table>

</div>

<div class="orderPersonalization">
    <p>Zamówienie</p>
    
    <table> 
    <tr> 
        <th>Nazwa</th> 
        <th>Składniki</th> 
        <th>Dodatki</th> 
        <th>Ilość</th> 
        <th>Cena</th> 
    </tr> 
    <tr> 
        <td>{{currentOrder.name}}</td>    
        <td><a ng-repeat="ingredient in currentOrder.ingredients">{{ingredient}} </a></td>
        <td><a ng-repeat="extra in currentOrder.extraIngredients track by $index">{{extra.name}} </a></td>
        <td>{{currentOrder.quantity}}</td>
        <td>{{currentOrder.price.toFixed(2)}}</td>
    </tr> 
    <tr></tr> 
    
    </table>
    
    <div class="basic">
        <p>Podstawowe składniki:</p>
        <table>
            <th>Składnik</th>
            <th></th>
            <tr ng-repeat="ingredient in currentOrder.ingredients">
                <td>{{ingredient}}</td> 
                <td>
                    <button ng-click="deleteBasicIngredient(ingredient)">Usuń</button>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="extra">
        <p>Dodatkowe składniki:</p>
        <table>
            <th>Składnik</th>
            <th>Cena</th>
            <th></th>
            <tr ng-repeat="extra in extraIngredients">
                <td>{{extra.name}}</td> 
                <td>{{extra.price.toFixed(2)}}</td>
                <td>
                    <button ng-click="deleteExtraIngredient(extra)">Usuń</button>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="popup-price">
        <p>
            <b>Razem do zapłaty: {{totalPrice()}} zł</b>
            <button ng-click="closeThisDialog('Gotowe')">Gotowe</button>
        </p>
    </div>
</div>