<html ng-app="pizzaApp">
<body ng-controller="statusController">
    <div data-ng-init="getOrderStatus()">
      <h1>Stan zamówienia nr {{orderId}} 
        <table>
            <tr>
                <th>Zamówiono</th>
                <th>Przewidywany czas dostarczenia</th>
            </tr>
            <tr>
                    <td>{{ status.ordered | date:'dd-MM-yyyy HH:mm'}}</td>
                    <td>{{ status.estimated | date:'dd-MM-yyyy HH:mm'}}</td>
            </tr>
        </table>
          <h1>Zamówienie:</h1>  
            <table>
                <tr>
                    <th>Nr</th>
                    <th>Nazwa</th>
                    <th>Składniki</th>
                    <th>Dodatki</th>
                    <th>Cena</th>
                    <th>Ilość</th>
                </tr>
                <tr ng-repeat="order in orders">
                    <td class="menu">  {{ $index +1 }} </td>
                    <td class="menu"> {{ order.name}} </td>
                    <td class="menu">
                        <a ng-repeat="ingredient in order.ingredients track by $index">{{ingredient}} </a>
                    </td>
                    <td class="menu">
                        <a ng-repeat="extra in order.extraIngredients track by $index">{{extra.name}} </a>
                    </td>
                    <td class="menu"> {{ order.price.toFixed(2)}} </td>
                    <td class="menu"> {{ order.quantity}} </td>
                </tr>
            </table>
          <div id="log"></div>
          <h1>Dodatki:</h1>  
            <table>
                <tr>
                    <th>Nazwa</th>
                    <th>Cena</th>
                </tr>
                <tr ng-repeat="extra in extras">
                    <td>
                        {{extra.label}}
                    </td>
                    <td>
                        {{extra.price}}
                    </td>
                </tr>
            </table>
          
          <h1>Należność: {{total}}</h1>  
          
    </div>  
</body>
</html>